<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.E in Computer Science</h1>
            <span>RSR-RCET, CSVTU University</span>
            <span><address>Bhilai, C.G</address><time>2014 to 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>High School</h1>
            <span>M.B.V.P </span>
            <span><address>Vaishali Nagar, India</address><time>2012 to 2014</time></span>
        </header>
    </article>
</section>
